body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  border: solid red;
  background-color: red;
  color: white;
}

nav {
  border: solid red;
  color: black;
}

.Articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Articles__Card {
  margin: 5px;
  width: 350px;
  border: 1px solid red;
  background-color: rgb(255, 131, 131);
  border-radius: 5%;
}

