body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #152030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------------------------------------------------General---------------------------------------------------------------- */

h2 {
  margin: 0 auto;
  padding: 10px 9% 10px 9%;
  text-align: left;
  color: #152030;
  font-size: xx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: #246da8;
}

button {
  margin: 5px;
}

.small-caps {
  color: #246da8;
  text-transform: capitalize;
  font-size: x-small;
  text-align: left;
  margin: 2px auto;
  padding: 5px 9% 0px 9%;
}

.Logo__Icon {
  margin: 3px 10px;
}

.User__Avatar {
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: left;
  border-radius: 5px;
  background-color: white;
}

.white-text {
  color: white;
}

.error-message {
  margin: 5px;
  color: red;
  font-size: small;
}

/* --------------------------------------------------------Header---------------------------------------------------------------- */

header {
  width: 100%;
  padding: 0px 15% 0px 15%;
  display: flex;
  border: 1px solid #294160;
  background-color: #152030;
  color: #EEF3F6;
  text-align: left;
  font-variant: small-caps;
}

h1 {
  width: auto;
  display: flex;
  align-items: center;
}

/* --------------------------------------------------------Nav---------------------------------------------------------------- */

.Nav {
  width: auto;
  padding: 5px 9% 5px 9%;
  display: flex;
  justify-content: space-around;
  background-color: #EEF3F6;
  border-top: 1px solid #294160;
  color: #EEF3F6;
}

.Nav__link {
  text-decoration: "none";
  font-size: "small";
}

/* --------------------------------------------------------Cards---------------------------------------------------------------- */

.Card__Banner {
  border: 1px solid #246da803;
  border-radius: 3px;
  padding: 5px 2% 5px 2%;
  margin: 5 auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: center;
  background-color: #dce8f1;
  font-size: x-small;
}

/* --------------------------------------------------------Articles---------------------------------------------------------------- */

.Articles {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #152030;
  background-image: url(./images/nc-news-background-4.png);
  background-repeat: repeat-y;
}

.Single__Article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #152030;
  background-image: url(./images/nc-news-background-4.png);
  background-repeat: repeat-y;
}

.Article__Content {
  max-width: 1110px;
  min-width: 400px;
  padding: 15px;
  border: 1px solid #152030;
  background-color: #EEF3F6;
  border-radius: 5px;
  margin: 10px;
}

.Article__Body {
  margin: 2px auto;
  padding: 20px 9% 10px 9%;
  text-align: left;
}

.Article__Banner {
  margin: 2px auto;
  padding: 5px 9% 0px 9%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  align-items: center;
  color: #294160;
  font-size: x-small;
}

.Articles__Card {
  margin: 10px;
  width: 75%;
  max-width: 900px;
  min-width: 350px;
  height: 10%;
  border: 1px solid #EEF3F6;
  background-color: #EEF3F6;
  border-radius: 10px;
}

.Articles__Card:hover {
  box-shadow: 0px 0px 20px 0px #b2dbfc;
  background-color: #f6fbff;
}

.Article__Interactions {
  display: inline;
}

/* --------------------------------------------------------Comments---------------------------------------------------------------- */

.Comments__List {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  align-items: center;
  background-color: #15203000;
}

.Comment__Card {
  margin: 10px;
  width: 75%;
  max-width: 700px;
  min-width: 350px;
  height: 10%;
  padding: 5px;
  border: 1px solid #246da8;
  background-color: #15203000;
  border-radius: 10px;
}

.Comment__Body {
  padding: 5px 2% 5px 2%;
  margin: 5 auto;
  text-align: justify;
}

.Comment__Form {
  padding: 5px 10px 5px 10px;
}

.Comment__Input {
  margin: 10px;
  padding: 10px 10px 10% 10px;
  min-width: 340px;
  border: 1px solid #246da8;
  background-color: #15203000;
  border-radius: 10px; 
}